#titulo{background-color: rgb(247, 182, 0);
text-align: center;
height: 130px;
}

li{ list-style-type: none;
    display: inline;
    margin-left: 20px;

} 
a{text-decoration: none;
color: white;
}
nav{position: absolute;
top: 80px;
left: 40%;
}
#blog{color: white;
position: absolute;
top:0px;
left: 51.2%;
}

#nome{position: absolute;
left: 50%;

}
#blog{position: absolute;
top: 8px;
left: 52.5%;
}
